<div ng-cloak layout="column" flex>
    <md-toolbar ng-if="vm.currentUser">
        <div class="md-toolbar-tools">
            <span flex></span>
            {{ vm.currentUser.name.first }}
            <md-button aria-label="Logout" md-no-ink ng-click="vm.logout($event)">
                Logout
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex style="display:flex;justify-content:center;width:100%;">
        <div ng-cloak class="admin-page-container" style="width:100%;">
            <div ui-view></div>
        </div>
    </md-content>
</div>